DB_DRIVER   = #mysql / postgres / etc
DB_HOST     = #Your DB HOST HERE
DB_PORT     = #YOUR DB PORT HERE
DB_NAME     = #YOUR DB NAME HERE
DB_USER     = #YOUR DB USER HERE
DB_PASSWORD = #YOUR DB PASSWORD HERE